/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #f8f8f8; /* Set text color for light mode */
  margin: 0;
  padding: 0;
}

/* Top menu styles */
.top-menu {
  background-color: #222; /* Darken background color */
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Add a higher z-index value to ensure it's on top of other elements */
}

.top-menu a {
  float: left;
  display: block;
  color: #f8f8f8; /* Set text color for light mode */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.top-menu a:hover {
  background-color: #555;
}

/* Main content styles */
.content {
  padding: 20px;
  margin-top: 60px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer styles */
.footer {
  background-color: #222; /* Darken background color */
  color: #f8f8f8; /* Set text color for light mode */
  text-align: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  /* Adjust top menu padding for smaller screens */
  .top-menu a {
    padding: 10px 15px;
  }

  /* Adjust content margin for smaller screens */
  .content {
    margin-top: 40px;
  }

  /* Adjust footer padding for smaller screens */
  .footer {
    padding: 5px;
  }
}

.button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  background-color: #d3d3d3; /* Light grey color */
  color: #333; /* Dark grey color for text */
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Add space above the button */
  margin-bottom: 10px; /* Add space below the button */
}

.button:hover {
  background-color: #b3b3b3; /* Darker grey color on hover */1
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
p {
  margin-top: 1em; /* Add the desired spacing above the paragraphs */
}
h2 {
  margin-top: 1em; /* Add the desired spacing above the paragraphs */
}
.list {
  list-style-type: disc; /* Use your desired bullet point style */
  padding-left: 1em; /* Adjust the indentation as needed */
  margin-top: 1em; /* Add the desired spacing above the paragraphs */
}

.list li {
  margin-bottom: 0.5em; /* Add spacing between list items if desired */
}
.container.lexicon {
  display: flex;
  margin-top: 1em; /* Add the desired spacing above the paragraphs */
  justify-content: center;
}

.container.lexicon .column {
  flex: 1;
  padding: 0 10px;
}

.container.lexicon ul {
  list-style-type: none;
  padding: 0;
}

.container.lexicon li {
  margin-bottom: 10px;
}
