body{background-color:#1F0954;font-family:'Tahoma'}
    h1,h2,h3{color:purple}
    blockquote{background-color:yellow;font-style:italic;color:grey}
    .dynamicallyScale{font-size:30px}
    @media screen and (min-width:500px){.dynamicallyScale{font-size:80px}}
    *{box-sizing:border-box}
    .column{float:left;width:50%;padding:10px}
    .row:after{content:"";display:table;clear:both}
    .content{padding:0 18px;display:;overflow:hidden;background-color:#d3d3d3}
    p.c{font-style:italic;font-weight:bold;color:blue}
    a:link,a:visited{color:darkblue;text-decoration:}
    a:hover,a:active{color:blue;text-decoration:}
    a {font-weight: bold;}